[submodule "Go-CYOA"]
	path = Go-CYOA
	url = https://github.com/mvenkatesh431/Go-CYOA.git
[submodule "LinkParser"]
	path = LinkParser
	url = https://github.com/mvenkatesh431/LinkParser
[submodule "sitemap"]
	path = sitemap
	url = https://github.com/mvenkatesh431/sitemap.git
